
.player,.opposite{
    font-size: 32px;
    background-color: rgba(219, 214, 217, 0.5);
    padding: 32px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}


.timerActive{
    background-color: rgba(161, 212, 101, 0.5);
}