

.board{
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
}

.cell{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer
}
.cell img{
    height: 100px;
    width: 100px;
    z-index: 100;
    cursor: pointer;
}

.white{
    background-color: #f0d9b5;
}
.black{
    background-color:	#b58863;
}
.dotHighlight::after{
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #14551e80
}
.dotHighlight{
    cursor: pointer;
}
.dotHighlight:hover{
    background-color: #052b0b98
}

.green{
    background-color: #052b0b98 
}
.greenwhite,.selfHighlightwhite{
    background-color: #14551e80
}
.greenblack,.selfHighlightblack{
    background-color: #052b0b98
}
.green img{
    background-color: none ;
    border-radius: 0;
}

.ghost{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2000;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.takeHighlightwhite{
    background-color: #14551e80
}
.takeHighlightwhite:hover{
    background-color: #14551e80
}

.takeHighlightblack{
    background-color: #052b0b98
}
.takeHighlightblack:hover img,.takeHighlightwhite:hover img{
    background: none
}


.takeHighlightwhite img{
    background-color: #f0d9b5;
    border-radius: 25%;
}

.takeHighlightblack img{
    background-color: #b58863;
    border-radius: 25%;
}

.whitelastmove{
    background-color: rgba(113, 141, 12, 0.45)
}
.blacklastmove{
    background-color: rgba(71, 88, 6, 0.6)  
}

.checkedwhite{
    background: radial-gradient(ellipse at center, red 0%, #e70000 25%, #f0d9b5 89%, #f0d9b5 100%) !important;
}
.checkedblack{
    background: radial-gradient(ellipse at center, red 0%, #e70000 25%, #b58863 89%, #b58863 100%) !important;
}
.checkedwhite img,.checkedblack img{
    background-color: transparent !important;
    border-radius: 0 !important
}

.gameEnd{
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5000;
    background-color: gray;
    color: white;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.gameEnd hr{
    background-color: white;
    width: 100%;
}
.gameEnd img{
    margin-top: 32px;
    max-width: 300px;
}
.app{
    position: relative;
}