.app{
    position: relative;
    height: 100%;
}
.appWrapper{
    position: relative;
    display: flex;
    margin-top: 100px;
}

.board{
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 70px;
    margin-right: 70px;
    position: relative;
}

.cell{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer
}
.cell img{
    height: 100px;
    width: 100px;
    z-index: 100;
    cursor: pointer;
}

.white{
    background-color: #f0d9b5;
}
.black{
    background-color:	#b58863;
}
.dotHighlight::after{
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #14551e80
}
.dotHighlight{
    cursor: pointer;
}
.dotHighlight:hover{
    background-color: #052b0b98
}

.green{
    background-color: #052b0b98 
}
.greenwhite,.selfHighlightwhite{
    background-color: #14551e80
}
.greenblack,.selfHighlightblack{
    background-color: #052b0b98
}
.green img{
    background-color: none ;
    border-radius: 0;
}

.ghost{
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2000;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.takeHighlightwhite{
    background-color: #14551e80
}
.takeHighlightwhite:hover{
    background-color: #14551e80
}

.takeHighlightblack{
    background-color: #052b0b98
}
.takeHighlightblack:hover img,.takeHighlightwhite:hover img{
    background: none
}


.takeHighlightwhite img{
    background-color: #f0d9b5;
    border-radius: 25%;
}

.takeHighlightblack img{
    background-color: #b58863;
    border-radius: 25%;
}

.whitelastmove{
    background-color: rgba(113, 141, 12, 0.45)
}
.blacklastmove{
    background-color: rgba(71, 88, 6, 0.6)  
}

.checkedwhite{
    background: radial-gradient(ellipse at center, red 0%, #e70000 25%, #f0d9b5 89%, #f0d9b5 100%) !important;
}
.checkedblack{
    background: radial-gradient(ellipse at center, red 0%, #e70000 25%, #b58863 89%, #b58863 100%) !important;
}
.checkedwhite img,.checkedblack img{
    background-color: transparent !important;
    border-radius: 0 !important
}

.gameEnd{
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5000;
    background-color: gray;
    color: white;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.gameEnd hr{
    background-color: white;
    width: 100%;
}
.gameEnd img{
    margin-top: 32px;
    max-width: 95%
}


.notationA::before{
    content: 'a';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationB::before{
    content: 'b';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationC::before{
    content: 'c';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationD::before{
    content: 'd';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationE::before{
    content: 'e';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationF::before{
    content: 'f';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationG::before{
    content: 'g';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}
.notationH::before{
    content: 'h';
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 16px;
}

.notation1::after{
    content: '1';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation2::before{
    content: '2';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation3::before{
    content: '3';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation4::before{
    content: '4';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation5::before{
    content: '5';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation6::before{
    content: '6';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation7::before{
    content: '7';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.notation8::before{
    content: '8';
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 16px;
}

.blackNotation::before{
    content: "12345678";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.whitePromotion,.blackPromotion{
    position: absolute;
    left: 50%;
    top: -90px;
    transform: translateX(-50%);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center

}
.whitePromotion img,.blackPromotion img{
    height: 80px;
    cursor: pointer;
    border-radius: 8px;
}
.whitePromotion img:hover,.blackPromotion img:hover{
    background-color: gray;
}

.uiWrapper{
    width: 400px;
    position: relative;

}
.cookies{
    position: absolute;
    bottom:-20px;
    left:50%;
    transform: translateX(-50%);
    font-size: 24px;
    z-index: 2000;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius:16px;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
}
.cookies button{
    margin-left: 20px;
    padding: 20px 40px;
    background-color:#424291;
    outline: none;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.cookies button:hover,.cookies button:active{
    background-color: #5d5dbb;
}

.api{
    position: absolute;
    right: 10px;
    bottom: -20px;
    font-size: 20px;
    display: flex;
    align-items: center
}
.api img{
    height: 50px;
}
.api a{
    display: flex;
    align-items: center
}
.api a:hover{
    text-decoration: underline;
}